* {
  margin: 0;
  padding: 0; 
}

/* Icon 1 */

body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 800;
  color: #16384f;
  font-size: 32px;
}

h2 {
  font-weight: 800;
  color: #16384f;
  font-size: 20px;
}

p {
  color: #677d8c;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 20px;

}


#nav-icon {
  width: 30px;
  height: 30px;
  margin: 30px 20px 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  transition: .5s ease-in;
  cursor: pointer;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background:  #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 12px;
}

#nav-icon span:nth-child(3) {
  top: 24px;
}

#nav-icon.open {
  z-index: 10;
  position: relative;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background-color: #fff;
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-color: #fff;
}

#menu {
  transition: .5s ease-in-out;
  width: 100%;
  height: 100vh;
  background-color: #16384f;
  position: absolute;
  display: none;
  border-radius: 4px;
  box-shadow:0px 1px 1px rgba(0,0,0,0.15);
}

.active {
  display: block!important;
  z-index: 1;
  top: 0;
}

    .menu__container li {
        margin: 30px 0px 30px 0px;
        text-align: center;
      display:block;
        
    }

.menu__container li a {
    text-decoration: none;
    color: #fff;
  font-family: 'open sans', san-serif;
  font-size: 18px;
  font-weight: 700;
}

.menu__container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 30px;
}

.menu__container li a:hover {
  color: rgb(255, 255, 255, .5);
}

.logo {
  background-image: url('../images/logo-mobile.png');
  background-repeat:no-repeat;
  background-size: auto;
  background-position: center;
  width: auto;
  height: 70px;
  margin-bottom: 20px;
}

.logoActive {
  display: none;
}

/***HOMEPAGE***/

.home__container {
  width: 100;
}

.jumbo {
  height: 700px;
  background-color: #16384F;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232D4B60' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%232D4B60'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
.jumbo__info {
  margin: 0 auto;
  width: 100%;
  max-width: 440px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 60px 0px;
}

.jumbo__info h1 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
  margin-left: 35px;
  line-height: 62px;

}

.jumbo__info h1 span {
  color: #fff;
  opacity: .3;
}


.jumbo__info button {
  color: #16384f;
  font-weight: 700;
  background: #fff;
  padding: 20px 25px;
  text-decoration: none;
  display: inline-block;
  transition: .35s;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  margin: 25px 25px 5px 35px;
  z-index: 220;
  font-size: 22px;
}

.jumbo__info .ghost-btn {
  background-color: transparent;
  color: #fff;
  border: solid 4px #fff;
}

.jumbo__info button:hover {
  background-color: #2d4b60;
}

.jumbo__info .ghost-btn:hover {
  color: #16384f;
  background-color: #fff;
}


.home__content {
  font-weight: 400;
  font-size: 16px;
  padding: 10% 10% 10% 10%;
}

.home__content .services {
  margin-top: 60px;

}

.home__content h1 {
  margin-bottom: 15px;
}


.home__content li {
  color: #506a7b;
  font-weight: 400;
  font-size: 16px;
  list-style-type: none;
  line-height: 28px;
  margin-top: 5px;
  position: relative;
  left: 20px;
}

.home__content li::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 4px;
  height: 20px;
  width: 20px;
  background: url('../images/check-circle.svg');
}

.home__content ul {
  margin-top: 15px;
}

.section {
  margin-top: 45px;
  padding: 50px 35px;
  border-top: solid 6px #16384f;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
/*****FOOTER*****/

.footer__container {
  background-color: #16384f;
  height: auto;
  padding: 10% 10% 0 10%;
}

.contact__footer {
  margin-top: 50px;
}

.footer__container h1 {
  color: #ffffff;
  font-size: 16px;
}

.footer__container p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}

.copyright {
  margin-top: 50px;
}





/*****TEAM PAGE*****/




/******CLIENT ACCOUNT ACCESS*****/

.card__container {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
} 
  
.client-page h1 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding: 30px 20px;
  background-color: #16384f;
}

.cir__container {
  padding: 120px 20px;
  border-top: solid 6px #16384f;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 60px auto;
  width: 100%;
  max-width: 350px;
}

.wealthscape__container {
  padding: 120px 20px;
  border-top: solid 6px #16384f;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 60px auto;
  width: 100%;
  max-width: 350px;
}


.card__container h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.card__container button {
  color: #fff;
  font-weight: 700;
  background: #16384f;
  padding: 20px 35px;
  text-decoration: none;
  display: block;
  transition: .35s;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  margin: 0 auto;
  z-index: 220;
  font-size: 18px;
}


/********************contact***********************/

.contact-page h1 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    padding: 30px 20px;
    background-color: #16384f;
}

.grid__container {
  width: 50%;
  margin: 120px auto;
  display: grid; 
  grid-auto-columns: 1fr 1fr; 
  grid-auto-rows: 1fr 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 


}

.contact__form {
  padding: 60px 10%;
  border-top: solid 6px #16384f;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  max-width: 275px;
  font-size: 18px;
  margin: 30px auto;
}

.contact__form #name {
  height: 40px;
  width: 100%;
  display: block;
  margin-bottom: 8px;
  border: none;
  background-color: #f3f3f3;

}
#name::placeholder {
  color: #2d4b60;
  opacity: .7;
  font-size: 14px;
  padding-left: 6px;

}

.contact__form #email {
  height: 40px;
  width: 100%;
  display: block;
  margin-bottom: 8px;
  border: none;
  background-color: #f3f3f3;

}
#email::placeholder {
  color: #2d4b60;
  opacity: .7;
  font-size: 14px;
  padding-left: 6px;

}

.contact__form #message{
  height: 120px;
  width: 100%;
  display: block;
  margin-bottom: 14px;
  padding-left: 6px;
  font-family: 'Inter', sans-serif;
  padding-top: 6px;
  border: none;
  background-color: #f3f3f3;




}
#message::placeholder {
  color: #2d4b60;
  opacity: .7;
  font-size: 14px;
}

.contact__form #submit {
  color: #fff;
  background: #16384f;
  height: 40px;
  width: 80px;
  display: block;
  font-weight: 700;
  text-decoration: none;
  transition: .35s;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.contact__container {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
}

.contact__container h3 {
  font-size: 16px;
}

.contact__container p {
  margin-top: 5px;
  font-size: 13px;
  line-height: 20px;

}

.contact__container div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-left: solid 6px #16384f;
  padding: 25px 20px;
  margin-top: 10px;
  width: 275px;
  justify-self: center;
}



/**********************************************/
/**********************************************/
/*********MEDIA QUERIES*************************/
/**********************************************/
/**********************************************/


/* Medium devices (landscape tablets, 768px and up)*************************/
@media only screen and (min-width: 768px) {



}



/* Large devices (laptops/desktops, 992px and up)***************************/
@media only screen and (min-width: 992px) {

  .flex__nav {
    height: 50px;
    background-color: #fff;
    padding: 25px 5%;
  }

  #nav-icon {
    display: none;
  }

  #menu {
    display: block; 
    transition: none;
    height: auto;
    box-shadow: none;
    float: right;
    position: relative;
    width: 60%;
  }

  .menu__container {
    top: 0;
    transform: none;
    padding: 0;
    height: 50px;
    background-color: #fff;
  }

  .home {
    display: none;
  }

  .menu__container li {
    display: block;
    float: right;
    margin: 0 20px 0 0;
    color: #000;
    line-height: 50px;
  }

  .menu__container li a {
    color: #16384f;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
  }

  .menu__container li a:hover {
    color: #16384f;
    border-bottom: solid 3px #16384f;
  }

  .logo {
    width: 197px;
    margin-bottom: 0;
    float: left;
    height: 50px;
  }

  .jumbo__info {
    max-width: 100%;
    text-align: center;
  }

  .jumbo__info h1 {
    margin: 0 0 20px 0;
    font-size: 54px;
  }


.jumbo__info h1 span {
    margin: 0 5px;
  }

  .jumbo__info button:hover {
    background-color: #2d4b60;
    color: #fff;
  }


  .home__content .services {  /* clears mobile spacing*/
    margin-top: 0;
  }

  .about__container {
    display: flex;
    flex-direction: row;
  }


  .split-content p {
    padding: 0 10% 0 0;
  }

  /* services section ***********************************************/

  .services__container {
    display: grid;
    width: 100%;
    margin-top: 90px;
    grid-template-columns: 33% 33% 33%;
  }

  .section {
    margin: 60px 10px 0 10px;
    width: 300px;
    height: auto;
  }

  .section h2 {
    font-size: 26px;
  }

  .services__container ul {
    margin-top: 40px;
  }

  .services__container ul li {
    margin-top: 25px;
  }


  /***************footer*************/

  .footer__container {
    text-align: left;
    padding-top: 60px;
    padding: 60px 0 0 0;
  }

  .disclaimer {
    padding: 0 5%;
  }

  .contact__footer {
    padding: 0 5%;
  }

  .address, .phone, .fax, .email {
    display: inline-block;
    text-align: left;
    width: 24.5%;
  }

.copyright {
  background-color: #2d4b60;
  height: 90px;
  padding: 0 5%;

}

.copyright p {
  line-height: 90px;
}







/****** Client Account Page ******/

.card__container {
  padding: 5% 0;
  grid-template-columns: 50% 50%;
  width: 85%;
  margin: 0 auto;
} 
















}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home__content {
    padding: 7.5% 10% 7.5% 10%;
  }
  .cir__container {
    width: 100%;
    max-width: 450px;
  }
  
  .wealthscape__container {
    width: 100%;
    max-width: 450px;
  }
}