* {
  margin: 0;
  padding: 0; 
}

/* Icon 1 */

body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 800;
  color: #16384f;
  font-size: 32px;
}

h2 {
  font-weight: 800;
  color: #16384f;
  font-size: 20px;
}

p {
  color: #16384f;
  opacity: .75;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

}


#nav-icon {
  width: 35px;
  height: 35px;
  margin: 40px 20px 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  transition: .5s ease-in;
  cursor: pointer;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background:  #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 14px;
}

#nav-icon span:nth-child(3) {
  top: 28px;
}

#nav-icon.open {
  z-index: 10;
  position: relative;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background-color: #fff;
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-color: #fff;
}

#menu {
  transition: .5s ease-in-out;
  width: 100%;
  height: 100vh;
  background-color: #16384f;
  position: absolute;
  display: none;
  border-radius: 4px;
  box-shadow:0px 1px 1px rgba(0,0,0,0.15);
}

.active {
  display: block!important;
  z-index: 1;
  top: 0;
}

    .menu__container li {
        margin: 30px 0px 30px 0px;
        text-align: center;
      display:block;
        
    }

.menu__container li a {
    text-decoration: none;
    color: #fff;
  font-family: 'open sans', san-serif;
  font-size: 18px;
  font-weight: 700;
}

.menu__container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 30px;
}

.menu__container li a:hover {
  color: rgb(255, 255, 255, .5);
}

.logo {
  background-image: url('../images/logo-mobile.png');
  background-repeat:no-repeat;
  background-size: auto;
  background-position: center;
  width: auto;
  height: 152px;
  margin-bottom: 20px;
}

.logoActive {
  display: none;
}

/***HOMEPAGE***/

.home__container {
  width: 100;
}

.jumbo {
  height: 700px;
  background-image: url('../images/alternate-jumbo.jpg');
  background-repeat:no-repeat;
  background-size: auto;
  background-position: center;
  width: auto;

}
.jumbo__info {
  margin: 0 auto;
  width: 80%;
  background-color: rgb(20, 20, 20, .5);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 60px 0px;
}

.jumbo__info h1 {
  font-size: 42px;
  color: #fff;
  margin-bottom: 20px;
  margin-left: 35px;
}


.jumbo__info button {
  color: #fff;
  font-weight: 400;
  background: #16384f;
  padding: 20px 25px;
  text-decoration: none;
  display: inline-block;
  transition: .35s;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  margin: 15px 25px 5px 35px;
  z-index: 220;
  font-size: 18px;
}

.jumbo__info button:hover {
  background-color: #2d4b60;
}


.home__content {
  font-weight: 400;
  font-size: 16px;
  padding: 10% 10% 10% 10%;
}

.home__content .services {
  margin-top: 60px;
}

.home__content h1 {
  margin-bottom: 15px;
}


.home__content li {
  color: #16384f;
  opacity: .75;
  font-weight: 400;
  font-size: 16px;
  list-style-type: none;
  line-height: 28px;
  margin-top: 5px;
  position: relative;
  left: 20px;
}

.home__content li::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 10px;
  height: 5px;
  width: 5px;
  border: 2px solid #16384f;
  border-width: 3px 3px 0 0;
  transform: rotate(45deg);
  line-height: 20px;
}

.home__content ul {
  margin-top: 15px;
}

.section {
  margin-top: 45px;
}

/*****FOOTER*****/

.footer__container {
  background-color: #16384f;
  height: auto;
  padding: 10% 10% 0 10%;
}

.contact__footer {
  margin-top: 50px;
}

.footer__container h1 {
  color: #ffffff;
  font-size: 16px;
}

.footer__container p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
}

.copyright {
  margin-top: 50px;
}
